
@font-face {
    font-family: 'gill';
    src: url('GillSansStd-Light.otf') format('truetype');
  }
  body{
    font-family: 'gill';
  }

  body{
    animation: transitionIn 1.0s;
  }
  
  
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateX(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  html{
    max-width:100%;
  }

  /* @media only screen and (max-width: 400px) {

    .entirewebsite {
      width:90%;
      height:90%;
    }



  } */